@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.selectAndButtonContainer{
  margin-bottom: 1.5vh;
}

.selectMenu{
  width: 20vw;
  height: 5vh;
  font-family: 'Poppins', sans-serif;
}

.selectMenu:focus{
  outline-color:#1F61F7;
}

.button{
  width: fit-content;
  height: fit-content;
  border: none;
  font-family: 'Poppins', sans-serif;
  background-color:dodgerblue;
  border-radius: 30px;
  margin-left: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  box-sizing: border-box;
  color: white;
}

